html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
html,
body {
  height: 100%;
  width: 100%;
}
strong {
  font-weight: bold;
}
.clear {
  clear: both;
}
body {
  font: normal 400 1em/1.3em "Rambla", sans-serif;
}
em {
  font-style: italic;
}
body {
  background: #343838;
  color: #fff;
  line-height: 1.3em;
}
a {
  color: quaternary;
  text-decoration: none;
}
a:hover {
  border-bottom: 2px dotted;
  padding-bottom: 1px;
}
ul,
ol {
  margin: 1em 0 1em 1em;
}
ul li,
ol li {
  margin: 0 0 0 1em;
}
ol {
  list-style-type: decimal;
}
ul {
  list-style-type: square;
}
.wrapper {
  width: 966px;
  margin: 0 auto;
  padding: 20px 0;
}
nav {
  background: #005f6b;
  border-bottom: 15px solid #00a7bc;
  padding: 0 0 0.7em 0;
}
nav h1 {
  font-size: 3em;
  float: left;
  margin: 0.25em 0 0 0;
  color: #00dffc;
  width: 439px;
  height: 56px;
  background: url("/images/borg-docs-logo.png") no-repeat;
  text-indent: -9999px;
}
nav ul.right {
  position: relative;
  width: 500px;
  text-align: right;
  font-size: 1.2em;
  float: right;
  margin: 1.5em 0 0 0;
}
nav ul.right li {
  display: inline;
  margin-right: 0.5em;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  font-weight: bold;
}
nav ul.right li a {
  color: #fff;
}
nav ul.right li.toc {
  background: rgba(0,0,0,0.33);
  padding: 0.75em 1em;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
nav ul.right li.toc a {
  color: #00dffc;
  border-color: #00dffc;
}
header {
  background: #00b4cc;
  color: #000;
  border-top: 15px solid #00b4cc;
  border-bottom: 5px solid #555;
  padding: 0 0 1em 0;
}
header .wrapper {
  padding: 1em 366px 0 0;
  width: 600px;
}
header h2 {
  font: 600 1.9em/1.2em "Source Sans Pro", sans-serif;
  margin: 0 0 0.6em 0;
}
header p {
  line-height: 1.5em;
  margin: 0 0 1em 0;
}
header a {
  color: #000;
  border-color: #000;
}
article {
  color: #fff;
}
article .wrapper {
  width: 600px;
  padding: 0 366px 0 0;
  margin: 1em auto;
}
article h2 {
  font: 600 1.7em/1.3em "Source Sans Pro", sans-serif;
  margin: 1em 0 0.5em 0;
}
article h3 {
  font: 600 1.2em/1.3em "Source Sans Pro", sans-serif;
  margin: 1em 0 0.5em 0;
}
article p {
  margin: 1em 0;
}
article a {
  color: #c8ff00;
  border-color: #c8ff00;
}
article .notice,
article .alert {
  background: #fff;
  padding: 1em;
  margin: 1em 0 1em 0;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
article .alert {
  background: quaternary;
  color: #000;
}
article p code,
article li code {
  font: normal 0.9em/0 Monaco, monospace;
  background: #23241f;
  color: #ccc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 1px 5px;
}
article pre {
  font: normal 0.9em/0 Monaco, monospace;
  padding: 0;
  margin: 0;
}
article pre code {
  line-height: 1.5em;
  background: #23241f;
  color: #ccc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: block;
  padding: 1em;
  margin: 1em 0;
  overflow-x: auto;
}
article pre code::selection,
article pre code::-moz-selection {
  background: #000;
  color: #fff;
}
article table {
  border-collapse: collapse;
}
article table th,
article table td {
  border: 2px solid #343838;
  padding: 10px;
}
article table th p,
article table td p {
  margin-top: 0;
}
article table thead th {
  background: rgba(0,0,0,0.15);
  font-weight: bold;
}
article table tbody td {
  background: rgba(0,0,0,0.1);
  vertical-align: top;
}
aside {
  position: absolute;
  width: 100%;
  top: 8em;
}
aside .wrapper {
  position: relative;
  padding: 1em 0;
}
aside .wrapper .content {
  position: absolute;
  right: 0;
  width: 257px;
  background: #343838;
  -webkit-border-radius: 15px 0px 5px 5px;
  border-radius: 15px 0px 5px 5px;
  border: solid #555;
  border-width: 5px 5px 0 5px;
  padding: 1em;
}
aside .wrapper .content h3 {
  font: 700 1.3em "Rambla", sans-serif;
  color: #fff;
  margin: 0 0 0.5em 0;
}
aside .wrapper .content ol {
  font: 700 1em "Rambla", sans-serif;
}
aside .wrapper .content ul {
  font: 400 1em "Rambla", sans-serif;
}
aside .wrapper .content ul,
aside .wrapper .content ol {
  margin: 0.5em 0 1em 0;
}
aside .wrapper .content ul a,
aside .wrapper .content ol a {
  text-decoration: underline;
  color: #fff;
  border: none;
}
aside .wrapper .content ul li,
aside .wrapper .content ol li {
  margin: 0 0 0.5em 1em;
}
footer {
  background: #005f6b;
  border-top: 10px solid #00a7bc;
  color: #fff;
  margin: 2em 0 0 0;
  padding: 1em 0;
}
footer .left {
  float: left;
}
footer .right {
  float: right;
}
footer p {
  margin: 0 0 1em 0;
}
footer a {
  color: #00dffc;
  border-color: #00dffc;
}
